// 
// --------------------------------------------------

// Fonts
// --------------------------------------------------
+font(ITCAvantGardeStd-Bk, ITCAvantGardeStd-Bk)
=agb
	font-family: "ITCAvantGardeStd-Bk", arial, sans-serif

+font(ITCAvantGardeStd-Md, ITCAvantGardeStd-Md)
=agm
	font-family: "ITCAvantGardeStd-Md", arial, sans-serif

+font(TradeGothicLTStd-Light, TradeGothicLTStd-Light)
=tl
	font-family: "TradeGothicLTStd-Light", arial, sans-serif
// Variables & mixins & extend
// --------------------------------------------------
// $gray: #eee
// $dgray: #888
// Common blocks
body
	font-size: 14px 
	font-family: Arial, sans-serif 
	line-height: 1.4
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: antialiased
.slide
	min-height: 500px 
	margin: 0 -15px
	&.vertical
		display: table
		width: 100%
		margin: 0
		text-align: center
		.vertical-in
			vertical-align: middle
			display: table-cell
.slide-1
	overflow: hidden
.slide-2
	overflow: hidden
.slide-4
	background: orange

// Headings
// --------------------------------------------------

// Nav
// --------------------------------------------------
.navbar-toggle
	margin: 0
	float: left
	background: #98A9C5
	width: 68px
	height: 68px
	text-align: center
	border: 0
	+border-radius(0)
	.icon-bar 
		margin: 0 auto
.navbar-collapse
	float: left
	+r(w768)
		margin: 59px 0px 0px -68px !important
		max-height: 100% !important
		border: 0px
		overflow-x: hidden
		overflow-y: hidden
.navbar
	min-height: 68px
	background: #FFEF54
	border: none
	+r(w768)
		margin: 0 -15px
		background: transparent 
.nav
	&.m-mod
		+r(w768)
			margin: 0 0 0 68px
		li
			width: auto
			height: 68px
			background: #FFEF54
			padding-left: 10px
	li
		width: 68px
		text-align: center
		a
			height: 68px
			padding-top: 24px
			padding-bottom: 24px
			position: relative
			font-size: 0
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 50%
		.nav-title
			line-height: 68px
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0 
			color: #828282  
			.nav-title-in
				vertical-align: middle
				display: inline-block
				line-height: 1.3
	.nav-1
		a
			background: #98A9C5 !important
			&:before
				+s(ico1)
				margin-top: -12px
				margin-left: -13px
			&:hover
				background: #98A9C5 !important
	.nav-2
		a
			background: #C0CFE0
			&:before
				+s(ico2)
				margin-top: -12px
				margin-left: -14px
			&:hover
				background: #C0CFE0 !important
				font-size: 11px
				&:before
					content: none
		&.is-active
			a
				background: #C0CFE0 !important
				font-size: 11px
				&:before
					content: none
	.nav-3
		a
			background: #D3D4D5
			&:before
				+s(ico3)
				margin-top: -9px
				margin-left: -16px
			&:hover
				background: #D3D4D5 !important
				font-size: 11px
				&:before
					content: none
		&.is-active
			a
				background: #D3D4D5 !important
				font-size: 11px
				&:before
					content: none
	.nav-4
		a
			background: #F5BC5C
			&:before
				+s(ico4)
				margin-top: -13px
				margin-left: -13px
			&:hover
				background: #F5BC5C !important
				font-size: 11px
				&:before
					content: none
		&.is-active
			a
				background: #F5BC5C !important
				font-size: 11px
				&:before
					content: none
	.nav-5
		a
			background: #FDCE44
			&:before
				+s(ico5)
				margin-top: -10px
				margin-left: -12px
			&:hover
				background: #FDCE44 !important
				font-size: 11px
				&:before
					content: none
		&.is-active
			a
				background: #FDCE44 !important
				font-size: 11px
				&:before
					content: none
	.nav-6
		a
			background: #FDDB00
			&:before
				+s(ico6)
				margin-top: -10px
				margin-left: -13px
			&:hover
				background: #FDDB00 !important
				font-size: 11px
				&:before
					content: none
		&.is-active
			a
				background: #FDDB00 !important
				font-size: 11px
				&:before
					content: none
	.navbar-brand
		padding: 0
		margin-top: 8px
		display: inline-block
		+s(logo)
		+hide-text

// Header
// --------------------------------------------------

// Footer
// --------------------------------------------------

// 
// --------------------------------------------------
.minislide
	.minislide-item
		min-height: 600px
		position: relative
		&.m-1
			.minislide-item-text
				left: 25%
				bottom: 50px
				+r(w768)
					left: 30px
		&.m-2
			.minislide-item-media
				background-position: 50% 50%
			.minislide-item-text
				top: 100px
				left: 80px
				+r(w768)
					left: 50px
		&.m-3
			.minislide-item-text
				top: 35%
				left: 80px
				+r(w768)
					top: 140px
					left: 30px
		&.m-4
			.minislide-item-text
				top: 20%
				left: 160px
				+r(w768)
					left: 80px
				+r(w480)
					width: 130px
					top: 100px
					left: 120px
	.minislide-item-media
		height: 100%
		+cover
		background-position: 0 0
		+r(w768)
			background-position: 50% 50%
		+r(w480)
			display: none
	.minislide-item-media-mobile
		display: none
		height: 100%
		+cover
		+r(w480)
			display: block
	.minislide-item-text
		width: 350px
		text-align: left
		font-size: 35px
		text-transform: uppercase
		position: absolute
		line-height: 1.4
		+tl
		+r(w768)
			width: 210px
			font-size: 18px
		+r(w480)
			width: 165px
			font-size: 15px
		p
			margin: 0
			line-height: 1.2 
		.lead
			text-align: right
			font-size: 35px
			+r(w768)
				font-size: 18px
			+r(w480)
				font-size: 15px

.owp-row
	width: 100% 
	font-size: 0
	+r(w768)
		display: inline
	.owp-grid
		display: inline-block
		vertical-align: top
		width: 33.33%
		height: 100%
		+r(w768)
			width: 50%
		+r(w480)
			width: 100%
	.owp-cell
		position: relative
		display: inline-block
		vertical-align: top
		width: 100%
		height: 0
		&.owp-grid-h1
			background: orange
			padding-bottom: 50%
		&.owp-grid-h2
			background: purple 
			padding-bottom: 100%
		&.owp-grid-w1
			width: 50%
			background: url("../img/box.png")
			+cover
		&.owp-grid-w2
			background: url("../img/box.png")
			+cover
	.owp-cell-content
		position: absolute
		top: 0
		right: 0
		bottom: 0px
		left: 0
		overflow: hidden
		&:hover
			.owp-cell-descr
				+opacity(1)
				-webkit-transform: translateY(0px)
				-ms-transform: translateY(0px)
				transform: translateY(0px)
				-webkit-transition-delay: 0s
				transition-delay: 0s
	.owp-cell-img
		position: absolute
		top: 0
		right: 0
		bottom: 0px
		left: 0
		+cover
	.owp-cell-descr
		padding: 10%
		+opacity(0)
		text-align: center
		display: block
		z-index: 10
		position: absolute
		top: 0
		padding: 25px
		background: rgba(0,0,0,.4)
		width: 100%
		min-height: 100%
		font-size: 14px
		color: #fff
		-webkit-transform: translateY(100px)
		-ms-transform: translateY(100px)
		transform: translateY(100px)
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
		-webkit-transition: all .295s linear
		transition: all .295s linear
				
.owp-info
	text-align: center
	color: #787878
	.owp-info-in
		display: inline-block
		vertical-align: middle
	.owp-info-title
		font-size: 25px
		+agb
	.owp-info-content
		font-size: 14px
		+agm

.owp-contact
	color: #787878 
	.owp-contact-title
		font-size: 25px
		+agb
	.owp-contact-label
		+s(map)
		margin: 10px 0 
		display: inline-block
	.owp-contact-content
		font-size: 14px
		+agm
		p
			margin: 0 0 10px


// 
// --------------------------------------------------

