// 
// --------------------------------------------------

// Fonts
// --------------------------------------------------

// Variables & mixins & extend
// --------------------------------------------------
// $gray: #eee
// $dgray: #888
// Common blocks
body
	font-size: 14px 
	font-family: Arial, sans-serif 
	line-height: 1.4
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: antialiased
.slide
	margin: 0 -15px
.slide-2
	background: red
.slide-3
	background: blue
.slide-4
	background: orange
.slide-5
	background: purple
.slide-6
	background: green 

// Headings
// --------------------------------------------------

// Nav
// --------------------------------------------------
.navbar
	min-height: 68px
	background: #FFEF54
	border: none 
.nav
	&.m-mod
		li
			width: auto
	li
		width: 68px
		text-align: center
		a
			height: 68px
			padding-top: 24px
			padding-bottom: 24px
			position: relative
			font-size: 0
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 50%
		.nav-title
			line-height: 68px
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0 
			color: #828282  
			.nav-title-in
				vertical-align: middle
				display: inline-block
				line-height: 1.3
	.nav-1
		a
			background: #98A9C5 !important
			&:before
				+s(ico1)
				margin-top: -12px
				margin-left: -13px
			&:hover
				background: #98A9C5 !important
	.nav-2
		a
			background: #C0CFE0
			&:before
				+s(ico2)
				margin-top: -12px
				margin-left: -14px
			&:hover
				background: #C0CFE0 !important
				font-size: 11px
				&:before
					content: none
	.nav-3
		a
			background: #D3D4D5
			&:before
				+s(ico3)
				margin-top: -9px
				margin-left: -16px
			&:hover
				background: #D3D4D5 !important
				font-size: 11px
				&:before
					content: none
	.nav-4
		a
			background: #F5BC5C
			&:before
				+s(ico4)
				margin-top: -13px
				margin-left: -13px
			&:hover
				background: #F5BC5C !important
				font-size: 11px
				&:before
					content: none
	.nav-5
		a
			background: #FDCE44
			&:before
				+s(ico5)
				margin-top: -10px
				margin-left: -12px
			&:hover
				background: #FDCE44 !important
				font-size: 11px
				&:before
					content: none
	.nav-6
		a
			background: #FDDB00
			&:before
				+s(ico6)
				margin-top: -10px
				margin-left: -13px
			&:hover
				background: #FDDB00 !important
				font-size: 11px
				&:before
					content: none
	.navbar-brand
		padding: 0
		margin-top: 8px
		display: inline-block
		+s(logo)
		+hide-text

// Header
// --------------------------------------------------

// Footer
// --------------------------------------------------

// 
// --------------------------------------------------
.minislide
	.minislide-item
		min-height: 600px
		position: relative
		&.m-1
			.minislide-item-text
				left: 25%
				bottom: 50px
		&.m-2
			.minislide-item-media
				background-position: 50% 50%
			.minislide-item-text
				top: 100px
				left: 80px
		&.m-3
			.minislide-item-text
				top: 35%
				left: 80px
		&.m-4
			.minislide-item-text
				top: 20%
				left: 160px
	.minislide-item-media
		height: 100%
		+cover
		background-position: 0 0
	.minislide-item-text
		width: 350px
		text-align: left
		font-size: 35px
		text-transform: uppercase
		position: absolute
		line-height: 1.4
		p
			margin: 0
			line-height: 1.2 
		.lead
			text-align: right
			font-size: 35px
// 
// --------------------------------------------------

