doctype html

html
  head
    title OWP 
    include includes/_head
  body
    .out
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-collapse.collapse(style='height: 1px;')
            ul.nav.navbar-nav.js-nav
              li.nav-1
                a(href='#s1', data-scroll)
              li.nav-2
                a(href='#s2', data-scroll)
                  .nav-title
                    .nav-title-in
                      | wer <br>
                      | sind <br>
                      | wir <br>
              li.nav-3
                a(href='#s3', data-scroll)
                  .nav-title
                    .nav-title-in
                      | vision
              li.nav-4
                a(href='#s4', data-scroll)
                  .nav-title
                    .nav-title-in
                      | Was <br>
                      | machen <br>
                      | wir <br>
              li.nav-5
                a(href='#s5', data-scroll)
                  .nav-title
                    .nav-title-in 
                      | Projecte
              li.nav-6
                a(href='#s6', data-scroll)
                  .nav-title
                    .nav-title-in
                      | Kontact
          ul.nav.navbar-nav.m-mod.navbar-right
            li
              a.navbar-brand(href='#') Mit Herz dabei
      .container-fluid
        .row
          span.col-lg-12.col-md-12.col-sm-12.col-xs-12
            #s1.slide.slide-1.js-slide
              .minislide
                .js-minislide
                  .js-minislide-in
                    .minislide-item.js-slide.m-1
                      .minislide-item-media(style='background-image: url(img/slide1.jpg);')
                      .minislide-item-media-mobile(style='background-image: url(img/slide1_m.jpg);')
                      .minislide-item-text
                        p eine stadt
                        p.lead um glucklich
                        p zu wachsen
                    .minislide-item.js-slide.m-2
                      .minislide-item-media(style='background-image: url(img/slide2.jpg);')
                      .minislide-item-media-mobile(style='background-image: url(img/slide2_m.jpg);')
                      .minislide-item-text
                        p eine stadt
                        p.lead um erfolgreich
                        p zu werden
                    .minislide-item.js-slide.m-3
                      .minislide-item-media(style='background-image: url(img/slide3.jpg);')
                      .minislide-item-media-mobile(style='background-image: url(img/slide3_m.jpg);')
                      .minislide-item-text
                        p eine stadt
                        p.lead um lebenswert
                        p zu leben
                    .minislide-item.js-slide.m-4
                      .minislide-item-media(style='background-image: url(img/slide4.jpg);')
                      .minislide-item-media-mobile(style='background-image: url(img/slide4_m.jpg);')
                      .minislide-item-text
                        p eine stadt
                        p.lead um sich zu
                        p verlieben
            #s2.slide.slide-2
              .owp-row
                .owp-grid
                  .owp-cell.owp-grid-h2.owp-grid-w2
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img1.jpg);')
                      .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                .owp-grid
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                        .owp-cell-descr GÖTTE <br> 2 GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img3.jpg);')
                        .owp-cell-descr GÖTTE <br> 3 GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img4.jpg);')
                        .owp-cell-descr GÖTTE <br> 4 GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img5.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                .owp-grid
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img6.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img7.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img8.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img1.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
              .owp-row
                .owp-grid
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img2.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img3.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img4.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img5.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                .owp-grid
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img6.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img7.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img8.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img1.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                .owp-grid
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img2.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img3.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img4.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                  .owp-cell.owp-grid-h1.owp-grid-w1
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img5.jpg);')
                        .owp-cell-descr GÖTTE <br> GÖTTE123wda 
            #s3.slide.slide-3.vertical.js-slide
              .vertical-in
                .owp-info
                  .owp-info-title Unsere Vision
                  .owp-info-content
                    p Die Grundlage des politischen Handelns der Bregenzer Volkspartei ist ein christliches, soziales Weltbild.
                    p Diesem Menschenbild entsprechend trägt jeder für sein Handeln Verantwortung
                    p und auch Mitverantwortung für die Gemeinschaft.
                    p Wir wollen im Jetzt verantwortungsvoll und für die Zukunft nachhaltig, vor allem unter ökonomischen
                    p und ökologischen Gesichtspunkten unsere Stadt gemeinsam mit den Bürgerinnen
                    p und Bürgern weiterentwickeln.
                    p Unsere Vision
            #s4.slide.slide-4.vertical.js-slide
              .vertical-in
                .owp-settings
                  .owp-settings-title Was machen wir
                  .owp-settings-content
                    p Die Vorarlberger Volkspartei ist ebenso wie die Bundes-ÖVP in Teilorganisationen,
                    p die sogenannten „Bünde“, unterteilt.
                    p Eine Mitgliedschaft in einer der Teilorganisationen der ÖVP Vorarlberg bringt in der Regel auch gleichzeitig
                    p eine Mitgliedschaft in der Landes- und darüber hinaus in der Bundespartei mit sich.
                    p Es existieren von allen sechs ÖVP-Bünden jeweils Landesorganisationen in Vorarlberg:
                  .owp-settings-content-note
                    p Erfahren Sie mehr übere unsere Abteilungen
                  i.owp-settings-ico
              .owp-settings-nav
                ul.owp-settings-list
                  li.owp-settings-item.m-1
                    a(href="#").owp-settings-link Jugend ÖVP <br> Bregenz
                  li.owp-settings-item.m-2
                    a(href="#").owp-settings-link Bauernbund
                  li.owp-settings-item.m-3
                    a(href="#").owp-settings-link Wirtschaftbund
                  li.owp-settings-item.m-4
                    a(href="#").owp-settings-link ÖAAB
                  li.owp-settings-item.m-5
                    a(href="#").owp-settings-link Seniorenbund
                  li.owp-settings-item.m-6
                    a(href="#").owp-settings-link Guta
            #s5.slide.slide-5
              .owp-row
                .owp-grid
                  .owp-cell.owp-grid-h2.owp-grid-w2
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img1.jpg);')
                      .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                .owp-grid
                  .owp-cell.owp-grid-h2.owp-grid-w2
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img1.jpg);')
                      .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                .owp-grid
                  .owp-cell.owp-grid-h2.owp-grid-w2
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img1.jpg);')
                      .owp-cell-descr GÖTTE <br> GÖTTE123wda
              .owp-row.m-long
                .owp-grid
                  .owp-cell.owp-grid-h2.owp-grid-w2
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img1.jpg);')
                      .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                .owp-grid
                  .owp-cell.owp-grid-h2.owp-grid-w2
                    .owp-cell-content
                      .owp-cell-descr GÖTTE <br> GÖTTE123wda 
                .owp-grid
                  .owp-cell.owp-grid-h2.owp-grid-w2
                    .owp-cell-content
                      .owp-cell-img(style='background-image: url(img/img1.jpg);')
                      .owp-cell-descr GÖTTE <br> GÖTTE123wda
            #s6.slide.slide-6.vertical.js-slide
              .vertical-in
                .owp-contact
                  .owp-contact-title Kontakt
                  i.owp-contact-label
                  .owp-contact-content
                    p ÖVP Landesgeschäftsstelle
                    p Römerstraße 12
                    p Tel.: 05574/4907
                    p Fax: 05574/4907-7
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
